@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <!-- Title Page-->
    <title>Dashboard 4</title>
    <!-- Fontfaces CSS-->
    <link href="~/Content/Template/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Content/Template/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Template/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Template/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link href="~/Content/Template/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link href="~/Content/Template/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Template/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Template/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Content/Template/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Template/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Content/Template/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Template/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/Content/Template/css/theme.css" rel="stylesheet" media="all">
</head>
<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop4">
            <div class="container">
                <div class="header4-wrap">
                    <div class="header__logo">
                        <a href="#">
                            <p style="font-size: 30px; font-weight: 100px;">Admin Panel</p>
                        </a>
                    </div>
                    <div class="header__tool">

                        <div class="header-button-item js-item-menu">
                        
                            </div>
                        </div>
                        <div class="account-wrap">
                           

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </header>
        <!-- END HEADER DESKTOP -->
        <!-- WELCOME-->
        <section class="welcome2 p-t-40 p-b-55">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb3">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="list-inline-item seprate">
                                        <span>/</span>
                                    </li>
                                    <li class="list-inline-item">Dashboard</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="welcome2-inner m-t-60">
                            <div class="welcome2-greeting">
                                <h1 class="title-6">
                                    Hi
                                    <span>Admin</span>, Welcome back
                                </h1>
                                <p>This is the Admin Panel</p>
                            </div>
                            <form class="form-header form-header2" action="" method="post">
                              
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END WELCOME-->
        <!-- PAGE CONTENT-->
        <!-- END ALERT-->
    </div>
    </section>
    <section>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <!-- MENU SIDEBAR-->
                    <aside class="menu-sidebar3 js-spe-sidebar">
                        <nav class="navbar-sidebar2 navbar-sidebar3">
                            <ul class="list-unstyled navbar__list">
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-tachometer-alt"></i>Your Dashboard
                                        <span class="arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </span>
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">

                                        <li>
                                            <a href="@Url.Action("Index","Home")">Dashboard</a>
                                        </li>
                                    </ul>
                                </li>

                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="table.html">Tables</a>
                                    </li>
                                    <li>
                                        <a href="form.html">Forms</a>
                                    </li>

                                </ul>
                                </li>
                                <li class="has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-copy"></i>Login
                                        <span class="arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </span>
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a href="@Url.Action("Login","Account")">Login</a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a href=@Url.Action("RiderLogin","Register")>
                                        <i class="fas fa-chart-bar"></i>Rider Registration
                                    </a>
                                    <!-- <span class="inbox-num">3</span> -->
                                </li>
                                <li>
                                    <a href=@Url.Action("ViewOrder","Order")>
                                        <i class="fas fa-copy"></i>Order History
                                    </a>
                                    <!-- <span class="inbox-num">3</span> -->
                                </li>
                                <li>
                                    <a href=@Url.Action("ReportList","Report")>
                                        <i class="fas fa-table"></i>Report
                                    </a>
                                    <!-- <span class="inbox-num">3</span> -->
                                </li>
                                <li>
                                    <a href="@Url.Action("ComplainList","Complain")">
                                        <i class="fas fa-chart-bar"></i>Complains
                                    </a>
                                    <!-- <span class="inbox-num">3</span> -->
                                </li>

                                <li>
                                    <a href="@Url.Action("RiderList","Rider")">
                                        <i class="fas fa-table"></i>Riders List
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </aside>
                    <!-- END MENU SIDEBAR-->
                </div>


                <!-- END PAGE CONTENT-->
            </div>
        </div>
        </div>
    </section>
    </div>
    <!-- END PAGE CONTENT  -->
    </div>

    <!-- Jquery JS-->
    <script src="~/Content/Template/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Content/Template/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Content/Template/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Content/Template/vendor/slick/slick.min.js">
    </script>
    <script src="~/Content/Template/vendor/wow/wow.min.js"></script>
    <script src="~/Content/Template/vendor/animsition/animsition.min.js"></script>
    <script src="~/Content/Template/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/Content/Template/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Content/Template/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/Content/Template/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Content/Template/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Content/Template/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Content/Template/vendor/select2/select2.min.js">
    </script>
    <!-- Main JS-->
    <script src="~/Content/Template/js/main.js"></script>
</body>
</html>
<!-- end document-->